.container {
    margin: auto;
    max-width: 675px;
    font-family: "Open Sans";
}

.heading {
    color: rebeccapurple
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: black;
    font-weight: 700;
    margin: 3rem 0;
    margin-bottom: 0.3em;
}

h3 {
    color: gray;
}
